<footer class="app-footer">
  <ul>
    <li><h4>Get in touch</h4></li>
    <li>
      <a>
        <i class="bi bi-envelope"></i>
        info@karmaart.ca
      </a>
    </li>
    <li>
      <i class="bi bi-house"></i>
      <span>184 Main Rd E, St Albans VIC 3021, Australia</span>
    </li>
    <li>
      <i class="bi bi-phone"></i>
      <span>+001 2233 456</span>
    </li>
    <li class="li-icons">
      <a>
        <i class="bi bi-facebook"></i>
      </a>
      <a>
        <i class="bi bi-twitter"></i>
      </a>
      <a>
        <i class="bi bi-instagram"></i>
      </a>
    </li>
  </ul>

  <ul>
    <li><h4>Categories & Products</h4></li>
    <li>
      <a (click)="appRoutesService.shopRoute()">
        <i class="bi bi-filter-left"></i>
        Shop
      </a>
    </li>
    <li>
      <a (click)="appRoutesService.personalizedGiftsRoute()">
        <i class="bi bi-filter-left"></i>
        Personalized Gifts
      </a>
    </li>
    <li>
      <a (click)="appRoutesService.commissionArtRoute()">
        <i class="bi bi-filter-left"></i>
        Commission Art
      </a>
    </li>
    <li>
      <a (click)="appRoutesService.contactUsRoute()">
        <i class="bi bi-filter-left"></i>
        Contact Us
      </a>
    </li>
    <li>
      <a (click)="appRoutesService.aboutUsRoute()">
        <i class="bi bi-filter-left"></i>
        About Us
      </a>
    </li>
  </ul>

  <ul>
    <li><h4>Subscription & Signup</h4></li>
    <li>
      <p>
        Subscribe to our newsletter and get 10% off your first purchase
      </p>
      <div class="input-group">
        <input class="form-control" placeholder="your email address....." type="text">
        <button color="warn" mat-raised-button type="button">Subscribe</button>
      </div>
    </li>
    <li>
      <a>
        <i class="bi bi-lock"></i>
        Terms & Conditions
      </a>
    </li>
    <li>
      <a>
        <i class="bi bi-currency-dollar"></i>
        Refund Policy
      </a>
    </li>
    <li>
      <a>
        <i class="bi bi-calendar-date"></i>
        Shipping Policy
      </a>
    </li>
  </ul>
</footer>
<div class="copyrights-div">
  <label>Copyright &copy; 2021 Powered by </label><span>Karma Art</span>
</div><!-- copyrights-div End -->
