<app-announcements [announcements]="homeService.announcements"></app-announcements>
<div class="karma-home">
  <app-header (activeLink)="homeService.onHeaderLinksChange($event)"
              (openSidebar)="homeService.toggleAppSideBar($event)"
              (signIn)="homeService.openSignInDialog()"
              (signOut)="authService.signOut()"
              [anonymousAvatar]="homeService.anonymousAvatar"
              [headerLinks]="homeService.headerLinks"
              [logo]="homeService.logo"
              [user]="null"></app-header>
  <router-outlet></router-outlet>
</div><!-- karma-home End -->
<app-footer></app-footer>
<app-sidebar (activeLink)="homeService.onHeaderLinksChange($event)"
             (closeSidebar)="homeService.toggleAppSideBar($event)"
             [headerLinks]="homeService.headerLinks"
             [show]="homeService.isSidebarOpen$ | async"></app-sidebar>
<app-overlay (closeSideBar)="homeService.toggleAppSideBar($event)"
             [show]="homeService.isSidebarOpen$ | async"></app-overlay>

