$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 1.3rem;
$font-weight: 400;

$text-color-primary: #212529;
$text-color-secondary: #6c757d;
$border-color: #ced4da;

$black: #000000;
$black-light: #333333;
$black-lighter: #444444;
$white: #ffffff;
$white-smoke: #f2f2f2;
$light: #f8f9fa;
$grey: #6c757d;
$grey-dark: #343a40;
$green: #28a745;
$green-active: #23903c;
$success: #33cc33;
$success-active: #29a329;
$teal: #39cccc;
$teal-active: #30bbbb;
$olive: #3d9970;
$olive-active: #368763;
$yellow: #ffc107;
$yellow-active: #e6ac00;
$orange: #fd7e14;
$orange-active: #fc7303;
$cyan: #0dcaf0;
$info: #00c0ef;
$info-active: #00a7d0;
$blue: #0d6efd;
$blue-active: #0056b3;
$red: #f63400;
$red-active: #da190b;
$accent: #ff4081;
$accent-active: #ff1a66;

$btn-primary: #0d6efd;
$btn-primary-active: #0069d9;
$facebook: #3b5998;
$primary: #3f51b5;
$primary-active: #354497;
$red-2: #da1f1c;
$danger: #dc3545;
$danger-active: #c32232;

$linkedin: #3b525e;
$linkedin-active: #283e4a;

$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
$home-max-width: 1400px;
$admin-sidebar-open: 230px;
$admin-sidebar-close: 50px;
$admin-wrapper-push-left: 230px;
$admin-wrapper-pull-right: 50px;
