@import "karma.variables";

html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  box-sizing: border-box;
  height: auto;
  display: block;
  -webkit-text-size-adjust: none;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $text-color-primary;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
}
